# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [55]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [56]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [58]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [59]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [60]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [61]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [62]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [63]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [64]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [65]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [66]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [67]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [68]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [69]:
data.duplicated().sum()

71

In [70]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [71]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [72]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [73]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [74]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [75]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

<b>Еще немного предобработки</b>

Для начала хотелось бы категоризироавть датафрейм.<br>
В предыдущих этапах мы создали отдельные категории, поэтому стоит сделать декомпозицию датафрейма, чтобы привести его к более удобному виду.<br>
Создавать словарь под категорию дохода не будем, так как все таки доход каждого клиента лучше оставить для наглядности.<br>
А вот с целью кредита иная ситуация. Многие категории повторются по смыслу, но имеют разный вариант написания. В данном случае целесообразно декомпозировать таблицу именно по данной категории

In [76]:
# Создаем справочник под цель кредита, удалим дубликаты, сбросим индексы и отсортируем по категории
purpose_dictionary = \
data[['purpose_category','purpose']].drop_duplicates().sort_values(by='purpose_category').reset_index(drop=True)

# Посмотрим, что получилось
purpose_dictionary

            purpose_category                                 purpose
0     операции с автомобилем                 приобретение автомобиля
1     операции с автомобилем                   на покупку автомобиля
2     операции с автомобилем                    сделка с автомобилем
3     операции с автомобилем                         свой автомобиль
4     операции с автомобилем                              автомобиль
5     операции с автомобилем        сделка с подержанным автомобилем
6     операции с автомобилем                              автомобили
7     операции с автомобилем      на покупку подержанного автомобиля
8     операции с автомобилем            на покупку своего автомобиля
9   операции с недвижимостью                           покупка жилья
10  операции с недвижимостью                 покупка жилья для сдачи
11  операции с недвижимостью                операции с недвижимостью
12  операции с недвижимостью                    покупка своего жилья
13  операции с недвижимостью         операции со своей недвижимостью
14  операции с недвижимостью                            ремонт жилью
15  операции с недвижимостью        строительство жилой недвижимости
16  операции с недвижимостью                                   жилье
17  операции с недвижимостью              строительство недвижимости
18  операции с недвижимостью                       операции с жильем
19  операции с недвижимостью   операции с коммерческой недвижимостью
20  операции с недвижимостью                    покупка недвижимости
21  операции с недвижимостью       покупка коммерческой недвижимости
22  операции с недвижимостью                 покупка жилья для семьи
23  операции с недвижимостью              покупка жилой недвижимости
24  операции с недвижимостью  строительство собственной недвижимости
25  операции с недвижимостью                            недвижимость
26     получение образования                   получение образования
27     получение образования   получение дополнительного образования
28     получение образования           получение высшего образования
29     получение образования                             образование
30     получение образования                  профильное образование
31     получение образования                      высшее образование
32     получение образования              дополнительное образование
33     получение образования                   заняться образованием
34     получение образования            заняться высшим образованием
35        проведение свадьбы                                 свадьба
36        проведение свадьбы                   на проведение свадьбы
37        проведение свадьбы                         сыграть свадьбу

In [77]:
# Уберем лишний столбец с основного датафрейма
data = data.drop('purpose', axis=1)

# Посмотрим, что получилось
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,C,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,C,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,C,проведение свадьбы

Теперь датафрейм не перегружен лишним столбцом

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

3.1.1 Столбец `children` уже был проверен на предыдущих этапах. Проверим нет ли ошибок в столбце `debt`

In [78]:
print(data['debt'].unique())
print(data['debt'].isna().sum())

[0 1]
0

Столбец содержит корректные значения. Пропусков также нет

3.1.2 Проверим, сколько всего клиентов по количеству детей

In [79]:
child_group_all = data['children'].value_counts()
child_group_all

0    14091
1     4808
2     2052
3      330
4       41
5        9
Name: children, dtype: int64

Видим, что чем больше детей, тем клиенты менее охотно берут кредиты в общем

3.1.3 Проверим отношение задолженности ко всем взятым кредитам в зависимости от количества детей

In [80]:
# Получим кол-во задолженности по каждой категории
child_debt = data.groupby('children')['debt'].sum()

# Получим отношение
print('Процентное отношение задолженности ко всем взятым кредитам в зависимости от количества детей')
child_ratio = child_debt / child_group_all * 100
child_ratio

Процентное отношение задолженности ко всем взятым кредитам в зависимости от количества детей

children
0    7.543822
1    9.234609
2    9.454191
3    8.181818
4    9.756098
5    0.000000
dtype: float64

Для наглядности отсортируем получившиеся данные

In [81]:
child_ratio.sort_values()

children
5    0.000000
0    7.543822
3    8.181818
1    9.234609
2    9.454191
4    9.756098
dtype: float64

In [82]:
# Создаим сводную таблицу
pivot_child = data.pivot_table(index='children', values='debt', aggfunc={'debt': 'count'})
pivot_child['ratio'] = child_ratio
pivot_child

           debt     ratio
children
0         14091  7.543822
1          4808  9.234609
2          2052  9.454191
3           330  8.181818
4            41  9.756098
5             9  0.000000

**Вывод:** По результатам исследования можно сделать следующие выводы:<br>
1. Зависимость между количеством детей и возвратом кредита в срок - Есть<br>
2. Основным фактром является не количество детей, а их наличие. Так, например у клиентов без детей процентное соотношение задолженности меньше почти на 2% по сравнению с теми, у кого один ребенок.<br> Далее разница в процентах не так велика
3. 0% задолженности по клиентам с 5 детьми может говорить о недостатке информации о подобных клиентах. Так как во всем датафрейме всего 9 записей с этой категорией. При построении общего вывода информация по данной категории не учитывалась.<br>
4. Также можно сделать вывод о том, что клиенты без детей охотнее берут кредиты, чем клиенты с детьми. Так как в датафррейме клиентов без детей в 2 раза больше, чем остальных вместе взятых. Многодетные семьи менее охотно берут кредиты

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

3.2.1 Проверим данные на коректност в столбце `family_status`

In [83]:
family_status_uniq = data['family_status'].unique()
family_status_uniq

array(['женат / замужем', 'гражданский брак', 'вдовец / вдова',
       'в разводе', 'Не женат / не замужем'], dtype=object)

Неявных дубликатов нет. Можно двигаться дальше

3.2.2 Проверим сколько всего клиентов по каждому семейному положению

In [84]:
family_group_all = data['family_status'].value_counts()
family_group_all

женат / замужем          12261
гражданский брак          4134
Не женат / не замужем     2796
в разводе                 1189
вдовец / вдова             951
Name: family_status, dtype: int64

Больше всего берут кредиты пары/семьи

3.2.3 Проверим отношение задолженности ко всем взятым кредитам в зависимости от семейного положения

In [85]:
# Получим кол-во задолженности по каждой категории
family_debt = data.groupby('family_status')['debt'].sum()

# Получим отношение
print('Процентное отношение задолженности ко всем взятым кредитам в зависимости от семейного положения')
family_ratio = family_debt / family_group_all * 100
family_ratio

Процентное отношение задолженности ко всем взятым кредитам в зависимости от семейного положения

Не женат / не замужем    9.763948
в разводе                7.064760
вдовец / вдова           6.624606
гражданский брак         9.313014
женат / замужем          7.560558
dtype: float64

Для наглядности отсортируем данные

In [86]:
family_ratio.sort_values()

вдовец / вдова           6.624606
в разводе                7.064760
женат / замужем          7.560558
гражданский брак         9.313014
Не женат / не замужем    9.763948
dtype: float64

3.2.3 Еще можно разделить категории на "одиноких" и "пар". Предположим, что семейное положение "женат/замужем" и "гражданский брак" - это пары. А "вдовец/вдова", "в разводе", "не женат/не замужем" - одинокие

In [87]:
# Напишем функцию которая разделит имеющиеся категории на доп. категории. 1 - Одинокий, 0 - Пара
def family_type_lonely(row):
    try:
        if row == 'вдовец / вдова' or row == 'в разводе' or row == 'Не женат / не замужем':
            return 1
        elif row == 'женат / замужем' or row == 'гражданский брак':
            return 0
    except:
        return None
    
# Добавим стообец с новой категорией в датафрейм
data['lonely'] = data['family_status'].apply(family_type_lonely)

3.2.4 Проверим отношение задолженности ко всем взятым кредитам в зависимости от признака "Одинокий / Пара"

In [88]:
# Получим отношение
print('Процентное отношение задолженности ко всем взятым кредитам в зависимости от признака \"Одинокий или Пара\"')
lonely_ratio = data.groupby('lonely')['debt'].sum() / data['lonely'].value_counts() * 100
lonely_ratio

Процентное отношение задолженности ко всем взятым кредитам в зависимости от признака "Одинокий или Пара"

lonely
0    8.002440
1    8.508914
dtype: float64

In [89]:
# Создаим сводную таблицу
pivot_family = data.pivot_table(index='family_status', values='debt', aggfunc={'debt': 'count'})
pivot_family['ratio'] = family_ratio
pivot_family.sort_values(by='ratio')

                        debt     ratio
family_status
вдовец / вдова           951  6.624606
в разводе               1189  7.064760
женат / замужем        12261  7.560558
гражданский брак        4134  9.313014
Не женат / не замужем   2796  9.763948

**Вывод:** По результатам исследования можно сделать следующие выводы:
1. Зависимость между семейным положением и возвратом кредита в срок - Есть<br>
2. Разницы между одинокими и парами практически нет.<br>
    Среди пар лучше возвращают кредиты клиенты в официальном браке, нежели в гражданском.<br>
    Среди одиноких хуже всего возвращают кредиты не женатые/не замужние

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

3.3.1 На предыдущих этапах уже была выполнена категоризация по столбцам `total_income` и `total_income_category`.<br>
Поэтому сразу приступим к группировке по доходу и количеству взятых кредитов

Напоминание по категоризации дохода:<br>
от 0 до 30000 - E<br>
от 30001 до 50000 - D<br>
от 50001 до 200000 - C<br>
от 200001 до 1000000 - B<br>
от 1000001 - А

In [90]:
# Получим количество выданных кредитов по каждому уровню дохода.
income_group_all = data['total_income_category'].value_counts()
income_group_all

C    15921
B     5014
D      349
A       25
E       22
Name: total_income_category, dtype: int64

3.3.2 Проверим отношение задолженности ко всем взятым кредитам в зависимости от уровня дохода

In [91]:
print('отношение задолженности ко всем взятым кредитам в зависимости от уровня дохода')
income_ratio = data.groupby('total_income_category')['debt'].sum() / income_group_all * 100
income_ratio

отношение задолженности ко всем взятым кредитам в зависимости от уровня дохода

A    8.000000
B    7.060231
C    8.498210
D    6.017192
E    9.090909
dtype: float64

Отсортируем для наглядности

In [92]:
income_ratio.sort_values()

D    6.017192
B    7.060231
A    8.000000
C    8.498210
E    9.090909
dtype: float64

In [93]:
# Создаим сводную таблицу
pivot_income = data.pivot_table(index='total_income_category', values='debt', aggfunc={'debt': 'count'})
pivot_income['ratio'] = income_ratio
pivot_income

                        debt     ratio
total_income_category
A                         25  8.000000
B                       5014  7.060231
C                      15921  8.498210
D                        349  6.017192
E                         22  9.090909

**Вывод:** По результатам исследования можно сделать следующие выводы:
1. Зависимость между уровнем дохода и возвратом кредита в срок - Есть.<br>
2. Чем выше доход, тем меньше задолженности. У группы с достатком выше среднего (B) на 1.5% меньше задолженности, чем у группы со средним доходом (C)
3. Клиенты максимальной группы дохода (А) и группы ниже среднего (D, E) редко берут кредиты.<br>
4. Больше всего кредитов берут клиенты со средней группы (C) и выше среднего (B).<br>

In [94]:
new_data = data
new_data['total_income_category'] = pd.qcut(data['total_income'], 4)
new_data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,total_income_category,purpose_category,lonely
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,"(195842.0, 2265604.0]",операции с недвижимостью,0
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,"(107507.0, 142594.0]",операции с автомобилем,0
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,"(142594.0, 195842.0]",операции с недвижимостью,0
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,"(195842.0, 2265604.0]",получение образования,0
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,"(142594.0, 195842.0]",проведение свадьбы,0

In [95]:
new_data['total_income_category'].value_counts()

(107507.0, 142594.0]     5450
(20666.999, 107507.0]    5333
(195842.0, 2265604.0]    5332
(142594.0, 195842.0]     5216
Name: total_income_category, dtype: int64

In [96]:
print('отношение задолженности ко всем взятым кредитам в зависимости от уровня дохода по новым категориям')
new_income_ratio = new_data.groupby('total_income_category')['debt'].sum() / \
new_data['total_income_category'].value_counts() * 100
new_income_ratio

отношение задолженности ко всем взятым кредитам в зависимости от уровня дохода по новым категориям

(20666.999, 107507.0]    8.006750
(107507.0, 142594.0]     8.807339
(142594.0, 195842.0]     8.512270
(195842.0, 2265604.0]    7.145536
dtype: float64

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

3.4.1 На предыдущих этапах уже была сделана декомпозиция датафрейма по категории "Цель кредита". Сейчас датафрейм имеет удобный для анализа формат

Посмотрим на что клиенты больше всего берут кредитов

In [97]:
purpose_group_all = data['purpose_category'].value_counts()
purpose_group_all

операции с недвижимостью    10751
операции с автомобилем       4279
получение образования        3988
проведение свадьбы           2313
Name: purpose_category, dtype: int64

3.4.1 Проверим отношение задолженности ко всем взятым кредитам в зависимости от цели кредита

In [98]:
print('Процентное отношение задолженности ко всем взятым кредитам в зависимости от цели кредита')
purpose_ratio = data.groupby('purpose_category')['debt'].sum() / purpose_group_all * 100
purpose_ratio

Процентное отношение задолженности ко всем взятым кредитам в зависимости от цели кредита

операции с автомобилем      9.347978
операции с недвижимостью    7.255139
получение образования       9.252758
проведение свадьбы          7.911803
dtype: float64

Отсортируем для наглядности

In [99]:
purpose_ratio.sort_values()

операции с недвижимостью    7.255139
проведение свадьбы          7.911803
получение образования       9.252758
операции с автомобилем      9.347978
dtype: float64

In [100]:
# Создаим сводную таблицу
pivot_purpose = data.pivot_table(index='purpose_category', values='debt', aggfunc={'debt': 'count'})
pivot_purpose['ratio'] = purpose_ratio
pivot_purpose.sort_values(by='ratio')

                           debt     ratio
purpose_category
операции с недвижимостью  10751  7.255139
проведение свадьбы         2313  7.911803
получение образования      3988  9.252758
операции с автомобилем     4279  9.347978

**Вывод:** По результатам исследования можно сделать следующие выводы:<br>
1. По кредитам на "операции с недвижимостью" и "проведение свадьбы" клиенты имеют меньшую задолженность
2. По кредитам на "получение образования" и "операции с автомобилем" клиенты имеют большую задолженность

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Основная часть пропусков присутствовала в столбцах `days_employed` и `total_income`. Эти столбцы несут информацию об общем стаже работы и ежемесячном доходе соответственно. Количество пропусков в каждом столбце было идентично. Поэтому можно предположить, что пустые значения в столбце `days_employed` свидетельствуют о том, что клиент никогда не работал. Соответственно информация в столбце `total_income` о ежемесячном доходе также отсутствует. Что логично, ведь клиент никогда не работал

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* В данном случае количественные переменные имеют аномально большие значения. Это подтверждает созданный ниже датафрейм в котором отражены максимальные значения каждого из столбца `days_employed` и `total_income`. Если бы для заполнения пропусков использовалась функция арифмитечского среднего, то аномально большие значения исказили бы реальную картину. Медиана же исключает влияние аномальных значений на конечный результат

In [101]:
max_data = []
for t in data['income_type'].unique():
    child_list = []
    child_list.extend([data['total_income'].max(), data['days_employed'].max()])
    max_data.append(child_list)
max_income_days_df = pd.DataFrame(data=max_data, index=data['income_type'].unique(), 
                                  columns=['max_total_income', 'max_days_employed'])
max_income_days_df

                 max_total_income  max_days_employed
сотрудник                 2265604      401755.400475
пенсионер                 2265604      401755.400475
компаньон                 2265604      401755.400475
госслужащий               2265604      401755.400475
безработный               2265604      401755.400475
предприниматель           2265604      401755.400475
студент                   2265604      401755.400475
в декрете                 2265604      401755.400475

### Шаг 4: общий вывод.

Общий вывод: Было проведено исследование в ходе которого выполнены следующие пункты:
1. В датафрейме заменены пропуски.
2. Удалены аномальные значения, влияющие на исследование.
3. Проведена категоризация данных по ежемесячному доходу и цели на кредит.
4. Выполнена декомпозиця таблицы по цели на кредит.
5. Даны ответы на вопросы бизнеса, которые можно подытожить двумя тезисами:<br>
    5.1 Минимальная задолженность по кредитам у клиентов: С целью на операции с недвижимостью, с доходом выше среднего в официальном браке и без детей.<br>
    5.2 Хуже всего отдают кредиты клиенты: С целью на операции с автомобилем, с доходом ниже среднего, не женатые и с детьми